{% extends 'interface_admin/navbar.html' %}

{% block title %}
  Clients
{% endblock %}
{% block content %}
  <div class="app-main__inner">
    <div class="app-page-title">
      <div class="row">
        <div class="col-lg-12">
          <div class="main-card mb-3 card">
            <div class="card-body">
              <div style="display: flex ; justify-content: space-between;">
                <div>
                  <h5 class="card-title">Liste des comptes </h5>
                </div>
                <div style="display: flex ; justify-content: space-between;">
                  
                  <div>
                    <a href="{% url 'ajouter_compte' %}" class="mb-2 mr-2 btn btn-info"><i class="fa fa-fw" aria-hidden="true" title="Copier pour utiliser plus-square"></i> Ajouter </a>
                  </div>
                </div>
              </div>
              <br>
              <table class="mb-0 table" id="myTable">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>email</th>
                    <th>password</th>
                    <th>etat</th>
                    <th>image</th>
                    <th colspan="2">Actions</th>
                  </tr>
                </thead>
                <tbody>
                  {% for compte in comptes %}
                  <tr>
                    <td >{{compte.id}}</td>
                    <td >{{compte.email}}</td>
                    <td >{{compte.password}}</td>
                    <td >{{compte.etat}}</td>
                    <td><img src="{{compte.image.url}}" height="80px" width="90px"></td>
                    <td>
                      <a class='button' href="{% url 'modifier_compte' compte.id  %}"><i class="fa-solid fa-pen-to-square"></i></a>
                    </td>
                    <td>
                      <a class='button' href="{% url 'supprimer_compte' compte.id  %}"><i class="fa-solid fa-trash"></i></a>
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}