{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Title</title>
<link rel="stylesheet" href="{% static 'css/kk.css' %}">
</head>
<body>
    <div class="wrapper">
        <div class="title-text">
          <h2 class="" style="color: black; text-align: center;">Formulaire d'inscription</h2>
        </div>
        <div class="form-container">
          <div class="slider-tab"></div>
          <div class="form-inner">
            <form action="{% url 'creercompte' %}" class="signup" method="post">
              {% csrf_token %}
              {% if messages %}
                {% for message in messages %}
                  <h3>{{ message }}</h3>
                {% endfor %}
              {% endif %}
              <div class="field">
                <input type="text" name="email" placeholder="Email" required>
              </div>
              <div class="field">
                <input type="password" name="password" placeholder="Mot de passe" required>
              </div>
              <div>
                <div class="field">
                <select name="etat" required>
                    <option value="" selected disabled hidden>S'inscrire en tant que : </option>
                    <option value="client">Client</option>
                    <option value="fournisseur">Fournisseur</option>
                </select>
            </div>
            </div>
              <div class="field btn">
                <div class="btn-layer"></div>
                <input type="submit" value="Inscription">
              </div>
            </form>
            </div>
            </form>
          </div>
        </div>
    </div>
</body>
</html>