<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Verification</title>
</head>
<body>
    <h1>Email Verification</h1>
    {% if email %}
        <p>Verification code sent to: {{ email }}</p>
    {% endif %}
    <form action="/success" method="post">
        <label for="code">Enter Verification Code:</label>
        <input type="text" id="code" name="code" required>
        <button type="submit">Verify</button>
    </form>
    {% if erreur %}
        <p>This page says : {{ erreur }}</p>
    {% endif %}
</body>
</html>
