{% extends 'interface_admin/navbar.html' %}

{% block content %}
    <div class="app-main__inner">
        <div class="main-card mb-3 card">
            <div class="card-body">
                <h5 class="card-title">Formulaire d'modification</h5>
                <form action="{% url 'modifier_categorie' categorie.id_categorie  %}" method="post">
                    {% csrf_token %}
                    <div class="form-row">
                    {% if messages %}
                        {% for message in messages %}
                            <h3>{{ message }}</h3>
                        {% endfor %}
                    {% endif %}
                        <div class="col-md-12">
                            <div class="position-relative form-group">
                                <label for="nom">Nom :</label>
                                <input type="text" id="nom" name="nom" placeholder="Entrez le nom de l'entreprise" class="form-control" value="{{categorie.nom}}" >
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="position-relative form-group">
                                <label for="description">Description :</label>
                                <textarea id="description" name="description" placeholder="Entrez la description" class="form-control" required>{{categorie.description}}</textarea>
                            </div>
                        </div>

                    </div>
                    <div style="display:flex;justify-content:space-between">
                        <button class="mt-3 btn btn-primary">Modifier</button>
                        <td colspan="2"><a class="mt-3 btn btn-primary" href="{% url 'affiche_categorie' %}">Retour</a></td>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
