{% extends 'interface_client/nav_bar.html' %}
{% block content %}
{% if compte %}
<div class="cart-table-area section-padding-100">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 col-lg-8">
                        <div class="cart-title mt-50">
                            <h2>Les produits</h2>
                        </div>
                        <div class="cart-table clearfix">
                            <table class="table table-responsive">
                                <thead style="width: 550px;">
                                    <tr>
                                        <th>Image</th>
                                        <th>Nom</th>
                                        <th>Prix</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for produit in produits %}
                                    <tr>
                                        <td>
                                            <a href="#"><img src="{{ produit.image.url }}" alt="Product" class="image"></a>
                                        </td>
                                        <td class="cart_product_desc">
                                            <h5>{{ produit.nom }}</h5>
                                        </td>
                                        <td class="price">
                                            <span>${{ produit.prix }}</span>
                                        </td>
                                        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
                                        <script>
                                            function confirmDelete(productId) {
                                                swal({
                                                    title: 'Êtes-vous sûr?',
                                                    text: 'La suppression de cet article est irréversible!',
                                                    icon: 'warning',
                                                    buttons: ['Annuler', 'Supprimer'],
                                                    dangerMode: true,
                                                })
                                                    .then((willDelete) => {
                                                        if (willDelete) {
                                                            // If the user clicks "Supprimer," redirect to the delete view
                                                            window.location.href = '/supp_pagnier/' + productId;
                                                        }
                                                    });
                                            }

                                            function confirmDeleteAll() {
                                                swal({
                                                    title: 'Êtes-vous sûr?',
                                                    text: 'La suppression de tous ces articles est irréversible!',
                                                    icon: 'warning',
                                                    buttons: ['Annuler', 'Supprimer'],
                                                    dangerMode: true,
                                                })
                                                    .then(() => {
                                                        window.location.href = '/vider_pagnier/';
                                                    });
                                            }
                                        </script>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
{% endif %}
{% endblock %}