{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Email Verification</title>
    <link rel="stylesheet" href="{% static 'css/kk.css' %}">
</head>

<body>
    <div class="wrapper">
        <div class="title-text">
            <div class="title login">Email de Verification</div>
        </div>
        <div class="form-container">
            <div class="slider-tab"></div>
            <div class="form-inner">
                <form action="{% url 'request_password_reset' %}" class="signup" method="post">
                    {% csrf_token %}
                    <div class="field">
                        <input type="email" id="code" name="email" placeholder="Enter your email" required>
                    </div>
                    <div class="field btn">
                        <div class="btn-layer">
                            <button style="color: aliceblue;" class="btn-layer" type="submit">Envoyer</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    </div>
</body>

</html>