{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <title>Email Verification</title>
  <link rel="stylesheet" href="{% static 'css/kk.css' %}">
</head>

<body>
  <div class="wrapper">
    <div class="title-text">
      <div class="title login">Email de Verification</div>
    </div>
    <div class="form-container">
      <div class="slider-tab"></div>
      <div class="form-inner">
        <form action="{% url 'verify_password_reset' %}" class="signup" method="post">
          {% csrf_token %}
          {% if messages %}
          {% for message in messages %}<h3 style="color: red;">{{ message }}</h3>
          {% endfor %}
          {% endif %}
          <div class="field">
            <input type="text" id="code" name="code" placeholder="Enter verification code" required>
          </div>
          <div class="field btn">
            <div class="btn-layer">
              <button style="color: aliceblue;" class="btn-layer" type="submit">Verifier</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  </div>
</body>

</html>